<div class="container">
  <div class="categories">
    <div class="title-container">
      <h2 class="page-title"> {{ model.title }} </h2>
    </div>
    <div class="collection">
      {{#each model.items as |todoItem|}}
        <div class="collection__item">
          <div class="todo-item__name">
            {{!-- <span class="todo-item__done fa fa-check-square-o fa-square-o"></span> --}}
            <div class="todo-item__toggle" {{ action "isToggled" checked}}></div>
              {{#if (isToggled !== true)}}
              <span class="fa-square-o"></span>
              {{else}}
              <span class="todo-item__done fa fa-check-square-o"></span>
              {{/if}}
            <p class="todo-task__title">{{todoItem.name}}</p>
          </div>
        <div class="btn-container">
          <button class="delete-btn" {{action "destroy" formValue }}><i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>
        </div>
      {{/each}}
      <div class="collection__item">
        {{!-- {{#simple-form class=" from" as |formValues}}
        <label>New Todo Items</label>
        {{/simple-form}} --}}
      </div>
    </div>
  </div>
</div>
