<div class="container">
    <div class="categories">
      <div class="title-container">
        <h2 class="page-title"> {{ model.title }} </h2>
      </div>
      <div class="collection">
        {{#each model.items as |todoItem|}}
        <div class="collection__item">
          <button class="todo-item__toggle" {{actopm "toggleCheck" todoItem}}>
            <span class="todo-item__done fa {{if todoItem.done "fa-check-square-o" "fa-square-o"}}"></span>

          </button>
          <p class="todo-item__name">{{todoItem.name}}</p>
          <div class="todo-item__actions btn-item">
            <button class="btn delete delete-btn" data-id="{{todo-iem.id}}" {{action "destroy" todoItem}}>
              //trashcan font awesome
            </button>
          </div>
        </div>
          <div class="btn-container">
             <button class="delete-btn" {{action "destroy" formValue }}><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>
          {{/each}}
          <div class="collection__item">
            {{!-- {{#simple-form class=" from" as |formValues}}
            <label>New Todo Items</label>
            {{/simple-form}} --}}
          </div>
    </div>
    </div>
  </div>
